<div class="pt-3 px-4 pb-2 m-0">
  <p-card header="Photo Gallery">
    <p-dataView #dv [value]="photos" layout="grid" [paginator]="true" [rows]="12">
      <ng-template pTemplate="gridItem" let-photos>
        <div class="grid grid-nogutter border-1 border-300 border-round">
          <div class="col-12 md:col-6" *ngFor="let item of photos;">
            <div class="flex flex-column sm:flex-row sm:align-items-center p-4 gap-3 border-top-1 surface-border">
              <div class="md:w-10rem relative">
                <img class="block xl:block mx-auto border-round w-full" [src]="item.thumbnailUrl" [alt]="'image'" />
              </div>
              <div class="flex flex-column md:flex-row justify-content-between md:align-items-center flex-1 gap-4">
                <div class="flex flex-row md:flex-column justify-content-between align-items-start gap-2">
                  <div>
                    <span class="font-medium text-md mb-3">Id : {{ item.id }}</span><br />
                    <span class="font-medium text-secondary text-sm">Album Id : {{ item.albumId }}</span>
                    <div class="text-lg font-medium text-900 mt-1">{{ item.title }}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </p-card>
</div>